body {
  background-color: white;
  padding-top: 160px;
}

header {
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background-color: white;
}

a {
  color: black;
  font-family: "BPG Mrgvlovani", sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
}

.active {
  color: #EC1C24;
}

li {
  display: inline-block;
  margin-left: 27px;
}

nav {
  display: inline-block;
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  width: 90%;
  margin: 0 auto;
}

/* Header */
.navigation {
  padding: 10px 0;
  background-color: white;
  text-align: center;
}

.search {
  height: 18px;
  width: 18px;
  vertical-align: middle;
  margin-left: 50px;
  margin-right: 4px;
}

input[placeholder="ძებნა"] {
  width: 150px;
  padding: 2px;
  font-family: "BPG Mrgvlovani", sans-serif;
  font-size: 13px;
}

input[placeholder="ძებნა"]:focus {
  width: 150px;
}

.top-logo {
  height: 32px;
  width: 234px;
  vertical-align: middle;
  margin-left: 280px;
  margin-right: 355px;
}

.person {
  height: 28px;
  width: 28px;
  vertical-align: middle;
  margin-right: 12px;
}

.shopping-bag {
  height: 28px;
  width: 28px;
  vertical-align: middle;
  margin-left: 12px;
}

.flag {
  height: 24px;
  width: 36px;
  vertical-align: middle;
  margin-left: 32px;
}

.shipping {
  height: 12px;
  width: 12px;
  margin-left: 4px;
  margin-right: 180px;
  vertical-align: middle;
}
.apothecas-opt{
  position: relative;
  left: 20px;
}

.location-on {
  margin-left: 275px;
  height: 12px;
  width: 12px;
  vertical-align: middle;
}

/*ბრენდების მთავარი კოდი*/

.row-1{
  display: inline-block;
  margin-left: 40px;
  margin-bottom: 50px;
  height: 200px;
  width: 400px;
  border-radius: 20px;
  transition: all 1s ease;
}
.row-1:hover {
  height: 250px;
  width: 450px;
}
.row-2{
  display: inline-block;
  margin-left: 24px;
  margin-bottom: 50px;
  height: 200px;
  width: 400px;
  border-radius: 20px;
  transition: all 1s ease;
}

.row-2:hover {
  height: 250px;
  width: 450px;
}

/*პარტნიორები*/

.line{
  margin-top: 90px;
  margin-bottom: 48px;
  height: 1px;
  width: 1224px;
  background-color: #1C1B1F80;
}

.logo1{
  display: inline-block;
  height: 100px;
  width: 165px;
  vertical-align: middle;
  margin-left: 15px;
}

.logo2{
  display: inline-block;
  height: 100px;
  width: 109px;
  vertical-align: middle;
  margin-left: 20px;
}

.logo3{
  display: inline-block;
  height: 100px;
  width: 77px;
  vertical-align: middle;
  margin-left: 20px;
}

.logo4{
  display: inline-block;
  height: 100px;
  width: 172px;
  vertical-align: middle;
  margin-left: 20px;
}

.logo5{
  display: inline-block;
  height: 100px;
  width: 140px;
  vertical-align: middle;
  margin-left: 20px;
}

.logo6{
  display: inline-block;
  height: 100px;
  width: 149px;
  vertical-align: middle;
  margin-left: 20px;
}

.logo7{
  display: inline-block;
  height: 100px;
  width: 153px;
  vertical-align: middle;
  margin-left: 20px;
}

.logo8{
  display: inline-block;
  height: 100px;
  width: 75px;
  vertical-align: middle;
  margin-left: 20px;
}


/*footer*/
.information {
  margin-top: 76px;
  height: auto;
  width: 100%;
  background-color: #EC1C24;
  padding: 50px 47px;
}

.logos {
  display: inline-block; 
  vertical-align: top;
  margin-right: 50px;
}

.footer-logo{
  height: 52px;
  width: 265px;
  margin-top: 96px;
  display: inline-block;
}

.app-logos{
  height: 32px;
  width: 182px;
  margin-left: 29px;
  margin-top: 126px;
  display: block;
}

.column1 {
  display: inline-block; 
  vertical-align: top;
  width: 210px; 
  margin-right: 60px;
  margin-top: 0;
}

.title {
  font-family: "BPG Mrgvlovani Caps", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

.column-p{
  font-family: "BPG Mrgvlovani", sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.column-p2 {
  font-family: "BPG Mrgvlovani", sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}

.row {
  margin-bottom: 15px;
}

.icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 10px;
}
